<!DOCTYPE html>
<html lang="en">
<head>
    <p>Fancy inerface :O</p>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">

    <form action = "/send" method = "POST">
        <p>Please Enter Message Below or name :p  :</p>
        <p><input type = "text" name = "nm" /></p>
        <p><input type = "text" message = "mn" /></p>
        <p><input type = "submit" value = "submit" /></p>
    </form>
</head>
<style>
    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
    }
</style>
<body>
    <a target="_blank" href="paris.jpeg">
        <img src="download.jpeg" alt="download" style="width:150px">        
    </a>
    <p>couldn't get jpeg to work :(</p>
</body>
</html>