<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">

    <form action = "/all" method = "post">
        <p>Please input your task below</p>
        <p><input type = "text" name = "task" /></p>
        <p><input type = "date" name = "date" /></p>
        <p><input type = "submit" value = "submit" /></p>
    </form>
</head>
<body>
    <h2>Upcoming Tasks</h2>
    {% for task in tasks %}
        <p>{{task["task"]}} which is due {{task["date"]}}</p>
        <ul>
            <li>
                <span>{{task["tasks"]}}</span>        
                    <a href="{{'/reminder/edit/%s'%task['id'] }}"><button>edit</button></a>
                    <a href="{{'/reminder/delete/%s'%task['id'] }}"><button>Delete</button></a>
            </li> 
        </ul>    
    {% endfor %}
</body>
</html>